/* src/App.css */

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 600px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
}

